@if (_displayEdit)
{
    <div class="modal-backdrop show"></div>
    <EditForm class="modal fade show" tabindex="-1" aria-hidden="true" style="display: block" Model="@TypeIncome" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="modal-content container" role="document">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
            </div>
            <div class="form-group modal-body">
                <label>Name:</label>
                <div class="">
                    <InputText class="form-control" @bind-Value="TypeIncome.Name" />
                    <ValidationMessage For="@(() => TypeIncome.Name)"></ValidationMessage>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Save Changes</button>
                <button @onclick="OnCancel" type="button" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </EditForm>
}

@code {
    [Parameter] public string Title { get; set; } = "Change type income";
    [Parameter] public TypeIncome? TypeIncome { get; set; }    
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    private bool _displayEdit = false;
    public void Show() => _displayEdit = true;
    public void Hide() => _displayEdit = false;
}

