@inherits LayoutComponentBase

<PageTitle>Managing self finance</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.linkedin.com/in/vladimir-gnatyuk-5a9257234/" target="_blank">About the developer</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
