@page "/"
@page "/home"
<PageTitle>Managing self finance</PageTitle>

<div class="container">
    <div class="mb-3 text-center">
        <h1>Managing self finance</h1>
    </div>
    <FinanceChart />
</div>
